/* Importación de la fuente "Rajdhani" desde Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");

/* Estilos globales para el reset de márgenes y fuentes */
* {
  margin: 0;
  padding: 0;
  font-family: "Rajdhani", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}

/* Estilo global para convertir el texto del cuerpo del documento en mayúsculas */
body {
  text-transform: uppercase;
}

/* Estilos para el encabezado */
.header {
  width: 100%;
  text-align: center;
  font-size: 28px;
  padding: 8px 0;
}

/* Estilos para la etiqueta de selección y el select del tipo de calculadora */
.calculator-container__label, .calculator-container__select {
  width: 100%;
  display: block;
  font-size: 20px;
  margin-bottom: 1.5%;
  text-align: center;
  padding: 3px 0;
}

/* Estilos específicos para el select del tipo de calculadora en estado de enfoque */
.calculator-container__select:focus {
  outline: none;
}

/* Estilos para el contenedor principal de la calculadora */
.main-container {
  width: 60%;
  display: block;
  margin: 0 auto;
  margin-top: 1.5%;
  padding: 1.5%;
  border-radius: 20px;
}

/* Estilos para el mensaje de alerta en el contenedor principal */
.main-container__alert {
  font-size: 12px;
  width: 100%;
  text-align: center;
  padding: 1% 0;
  margin-bottom: 1%;
}

/* Estilos para el formulario en el contenedor principal */
.main-container__form {
  width: 100%;
}

/* Estilos para los contenedores de entrada de datos izquierdo y derecho */
.data-input__left, .data-input__right {
  display: flex;
  flex-direction: row;
}

/* Estilos para etiquetas y campos de entrada de datos y resultados */
.data-input__label, .result-container__label, .operation-buttons__button {
  width: 20%;
  font-size: 18px;
}

.data-input__input, .result-container__text, .operation-buttons__button {
  width: 70%;
  outline: none;
  font-size: 18px;
}

/* Estilos para botones de copiar en campos de entrada y resultados */
.data-input__btn--copy, .result-container__btn--copy {
  width: 10%;
  font-size: 18px;
}

/* Estilos para los botones de operación */
.operation-buttons {
  margin-top: 1%;
  margin-bottom: 1%;
  display: flex;
  justify-content: space-between;
}

.operation-buttons__button {
  width: 20%;
  height: 2%;
  font-size: 28px;
  outline: none;
  box-shadow: none;
  border: none;
}

/* Estilos para los contenedores de resultados en diferentes sistemas numéricos */
.result-container__bin, .result-container__oct, .result-container__dec, .result-container__hex {
  display: flex;
  flex-direction: row;
}

/* Estilos para mensajes dentro del contenedor de resultados */
.result-container__message {
  font-size: 18px;
}

/* Estilos para la ventana emergente */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  backdrop-filter: blur(2px);
}

/* Estilos para el contenido de la ventana emergente */
.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  padding: 1%;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

/* Estilos para el selector de colores */
.color-selector {
  position: fixed;
  top: 0;
  left: 0;
  width: 15%;
  height: 5%;
  z-index: 9998;
  padding: 0.5%;
  display: grid;
  grid-template-rows: 1fr auto;
}

/* Estilos para la etiqueta del selector de colores */
.color-selector__label {
  text-align: center;
  font-size: 18px;
}

/* Estilos para el select del selector de colores en estado de enfoque */
.color-selector__select {
  appearance: none;
  border: 0;
  outline: 0;
  width: 100%;
  text-align: center;
  font-size: 16px;
}
